@import "vars";

.footer {
  text-align: center;
  background: #ffffff;
  width: 100%;
  padding: 50px;
}
.uk-subnav > * > :first-child {
  text-transform: none;
  font-size: 16px;
  font-family: $main-font-family;
  &:hover {
    color: $main-blue;
  }
}
.uk-subnav {
  text-align: center;
  justify-content: center;
}
