.uk-navbar-container:not(.uk-navbar-transparent) {
  background: #ffffff;
}
.btn-nav-bar {
  background: #1da7da;
  color: #ffffff;
  box-shadow: 0 1px 1px #ddd;
  font-family: Nunito;
  border-radius: 3px;
  text-transform: none;
}
