html,
body {
  background: #fafafa;
}
.home-container {
  text-align: center;
}
.home-title {
  position: relative;
  display: inline-block;
  margin-bottom: 50px;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 70px;
    height: 2px;
    background: #1da7da;
    transform: translateX(-50%);
  }
}
.btn-load-more {
  margin-top: 50px;
  background: transparent;
  border-radius: 3px;
  color: #1da7da;
  border: 1px solid #1da7da;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  &:hover {
    background-color: #1da7da;
    color: #fff;
  }
}
